/* emmets */
@font-face {
    font-family: "DT Mono";
    src: url("Fonts/DTMonoWeb.ttf");
}

@keyframes spin {
    0% {
        transform: translate(-1px, -0.5px);
    }
    100% {
        transform: translate(1px, 0.5px);
    }
}

@keyframes fading {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: #ffffff;
    }
}

/* fondo */
html, body {
    cursor : url("Resources/Mouse/mouseAuto.png") 8 0, auto;
    background-color: black;
}

.bg_anim {
    position : fixed;
    top : 0;
    left : 0;
    width: 100vw;
    height: 100vh;
    background-image: url("Resources/Mis/starBG.gif");
    background-repeat: repeat;
    margin: 0;
}
.fade {
    position: fixed;
    top : 0;
    left : 0;
    width: 100vw;
    height: 100vh;
    animation: fading 5s linear 1;
    animation-fill-mode: forwards;
}


/*textos*/
.nor_font {
    color : #ffffff;
    font-family: "DT Mono", sans-serif;
    font-size: clamp(20px, 4vw, 40px);
    letter-spacing: 2px;
    
    cursor : url("Resources/Mouse/mouseText.png") 12 0, text;
}
.big_font {
    color : #ffffff;
    font-family: "DT Mono", sans-serif;
    font-size: clamp(20px, 4vw, 40px);
    letter-spacing: 2px;
    cursor : url("Resources/Mouse/mouseText.png") 12 0, text;
}
/* para la animacion del texto */
.him {
    top: 15%;
    left : 20%;
    position : absolute;
    white-space: nowrap;
}

.space {
    display: inline-block;
    width : 0.3em;
    animation : none;
}
.revolving span {
    display: inline-block;
    
    animation: spin 1s ease-in-out infinite alternate-reverse;
    animation-fill-mode: both;
    animation-delay: calc(var(--i) * 90ms);
}

/* boton central */
.button {
    cursor : url("Resources/Mouse/mousePointer.png") 8 0, pointer;
    position : absolute;
    top: 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    background-image: url("Resources/FunButton/normalButton0.png");
    background-color: transparent;
    width : 64px;
    height : 64px;
    border : none;
}
.button:active {
    background-image: url("Resources/FunButton/normalButton1.png");
}

.yourbutton0,
.yourbutton1 {
    top: 20%;
    width : 128px;
    height : 40px;
    border : none;
    position : absolute;
    white-space: nowrap;
    color : #ffffff;
    
    font-family: "DT Mono", sans-serif;
    font-size: clamp(20px, 4vw, 40px);
    letter-spacing: 2px;
    background-color: transparent;
}
.yourbutton0 {
    left: 20%;
}
.yourbutton1 {
    right: 20%;
}
.yourbutton0:hover,
.yourbutton1:hover {
    color : #FFBBD6;
    cursor : url("Resources/Mouse/mousePointer.png") 12 0, text
}



.hide {
    display : none;
}